*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Work Sans", sans-serif;
    --font3: "SF Pro Display", sans-serif;
    --font4: "Inder", sans-serif;
    --green: #b0dbbc;
    --blue: #0190df;
}

.main {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 100%;
}

.nav-bar {
    width: 100%;
    height: 96px;
    background-color: var(--green);
}

.nav-bar-content {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.nav-bar-content-logo {
    width: 542px;
    height: 100%;
    /*border-color: red;
    border: 1px solid;*/
    display: flex;
}

.nav-bar-content-logo img.logo {
    width: 134px;
    max-height: 96px;
}

.nav-bar-content-logo span.tittle {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 64px;
    letter-spacing: -0.02em;
    color: var(--blue);
}

.nav-bar-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 56px;
    max-width: 547px;
    width: 100%;
    height: 96px;
}

.nav-bar-menu a.nav {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 23px;
    line-height: 91%;
    color: var(--blue);
    text-decoration: none;
}

.main-content {
    align-content: center;
}

.main-content-text {
    padding-top: 5%;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.02em;
    text-align: center;
    color: black;
}
.main-content-text div.description {
    padding-top: 18px;
    text-align: left;
    margin: 0 auto;
    max-width: 729px;
    max-height: 46px;
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
}
.main-content-text div.description2 {
    padding-top: 24px;
    text-align: left;
    margin: 0 auto;
    max-width: 729px;
    max-height: 44px;
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
}

/*Grid Settings*/
.main-content div.grid-container {
    padding-top: 5%;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 100%;
}

.main-content div.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 289px);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    align-items: center;
}

.main-content div.grid-item {
    height: 600px;
    border: 3px solid var(--green);
    background-color: var(--green);
    border-radius: 8px;
    overflow: clip;
}

.grid-item img.img {
    width: 289px;
    height: 250px;
    opacity: 0.7;
}

.grid-item div.title {
    width: 253px; 
    height: 322px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 17px;
    word-wrap: break-word;
    margin: 0 auto;
}

.grid-item ul {
    padding-left: 24px;
}

.main-content-button-wrapper {
    padding-top: 5%;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 100%;
}

.main-content-button {
    padding-top: -24px;
    border-radius: 12px;
    background: var(--green);
    border-color: var(--green);
    max-width: 349px;
    width: 100%;
    height: 59px;
    color: var(--blue);
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 23px;
    text-align: center;
}

/*Start Modal*/

.modal-fade-screen {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-container {
    padding-top: 5%;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 100%;
}

.modal {
    height: 750px;
    max-width: 700px;
    width: 100%;
    background-color: var(--green);
    border: 5px solid var(--blue);
    border-radius: 23px;
    overflow:hidden;
    position:fixed;
    top:24px;
    z-index: 1;
}

.modal div.button-close {
    max-width: 16px;
    width: 100%;
    height: 16px;
}

.modal div.button-close:hover {
    cursor: pointer;
}

.modal div.button-close-container {
    display: flex;
    justify-content: flex-end; /* Прижать к правому краю */
    padding: 20px;
}

.modal-content {
    width: 100%;
    height: 85%;
    padding-left: 45px;
    padding-right: 45px;
}

.modal-content-text {
    padding-top: 8px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    text-align: center;
}

.modal-content-text div.description {
    padding-top: 16px;
    margin: 0 auto;
    max-width: 470px;
    width: 100%;
    height: 70px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 117%;
    text-align: center;
}

.input-container {
    padding-top: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 117%;
    max-width: 593px;
    height: 100%;
    width: 100%;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    margin: 0 auto;
}

.input-item {
    max-width: 593px;
    width: 100%;
    height: 45px;
    border-radius: 4px;
    border: 1px solid black;   
    padding-left: 8px;
}

.input-container-item {
    padding-top: 16px;
}

.checkbox-container {
    max-width: 586px;
    height: 97px;
    width: 100%;
    padding-top: 8px;
    display: flex;
}

.checkbox-container div.label {
    padding-top: 32px;
    padding-left: 26px;
    max-width: 513px;
    width: 100%;
    height: 78px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #616161;
}
.checkbox-container input {
    padding-top: 20px;
}

.input-container-item label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 117%
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

.button-container-item {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 117%;
    text-align: center;
    color: black;
    width: 257px;
    height: 53px;
    background-color: var(--green);
    border: 3px solid var(--blue);
    border-radius: 8px;;
}

.button-container-item:hover {
    background-color: var(--blue);
}

/*End Modal*/


/*Start Modal Success*/
.modal-success-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-success {
    max-width: 472px;
    width: 100%;
    height: 143px;
    border-radius: 8px;
    border: 3px solid var(--blue);
    background-color: var(--green);
}
.modal-success-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-success-content div.text-are{
    max-width: 383px;
    width: 100%;
    height: 101px;
    padding-left: 16px;
    padding-top: 32px;
}
.modal-success-content h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    text-align: center;
    padding-top: 8px;
}
.modal-success-content div.description {
    padding-top: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 117%;
    text-align: center;
}

.modal-success-content img.img {
    width: 56px;
    height: 56px;
}

/*End Success Model*/

/*Footer settings*/
.footer-wrapper {
    padding-top: 10%;
    width: 100%;
    height: 100%;
}

.footer-content {
    display: flex;
    /*justify-content: space-around;*/
    padding-top: 31px;
    padding-left: 5%;
    padding-right: 5%;
    height: 251px;
    background-color: var(--green);
}

.footer-logo {
    display: flex;
    width: 316px;
    max-height: 84px;
}

.footer-logo span.tittle {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 23px;
    color: var(--blue);
}

.footer-text {
    padding-top: 13px;
    display: flex;
    justify-content: space-around;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: black;
    gap: 8px;
    width: 100%;
}

.footer-text div.nav {
    max-width: 109px;
    width: 100%;
    max-height: 180px;
}

.footer-text li {
    list-style: none;
}
.footer-text a {
    font-weight: 900;
    font-size: 18px;
    line-height: 91%;
    color: var(--blue);
    text-decoration: none;
}

.footer-text div.addr {
    max-width: 199px;
    width: 100%;
    height: 163px;
}
.footer.text div.phone {
    max-width: 158x;
    width: 100%;
    height: 151px;
}

.footer-text div.icon {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    max-width: 32px;
    width: 100%;
    height: 144px;
}

.footer-text div.icon.img.image {
    max-width: 32px;
    width: 100%;
    height: 32px;
    border: 2px solid var(--green);
    border-radius: 10px;
    overflow: hidden;
}
.menu-button,
.menu-button::before,
.menu-button::after {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 2.3rem;
    cursor: pointer;
    color: var(--blue)
}
.menu-button::before {
    content: '';
    margin-top: -8px;
}
.menu-button::after {
    content: '';
    margin-top: 12px;
}

@media (max-width: 1024px) {
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
    }
    .nav-bar-menu {
        display: none;
    }
    .nav-bar-content {
        padding-left: 0%;
        padding-right: 0%;
    }
}
